  
.page {
    padding: 5px;
    margin: 5px;
    background-color: rgb(150,160,250);
  }
  
  h1 {
    font-weight: bold;
    font-family:  Arial, Helvetica, sans-serif
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }